
.first-page{
	min-height: 730px;
	background-image: url(images/field_foolpage.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

header{
	padding: 10px 0;
	background-color: rgba(81, 72, 79, .2);
	box-shadow: 0px 6px 32px 4px rgba(81, 72, 79, .6);
}


.lang{
	box-sizing: border-box;
}

header a{
	color: #ffffff;
	display: inline-block;
	text-decoration: none;
}

.logo > a:link{
	height: 100%;
}

.logo img{

	margin-top: 20px;

}

/*----------- lang ---------------*/
.lang li{
	color: #ffffff;
	font-size: 21px;
	padding: 0;
}

.lang a:link{
	border: 1px solid transparent;
	font-size: 21px;
	padding: 7px 5px 7px 5px;
	border-radius: 10px;
	margin: 0 3px;
}

.lang a:visited{
	color: #ffffff;
	text-decoration: none;
}

.lang a:hover{
	color: #ffffff;
	text-decoration: none;
	border: 1px solid #ffffff;
	background-color: rgba(225, 225, 225, .6);
}

.lang a:active{
	color: #ffffff;
	text-decoration: none;
}

.mmenu .lang{
	display: flex;
	justify-content: space-around;
}


/*--------------search-------------------*/
.search-query{
	width: 80%;
	font-style: italic;
	font-weight: 300;
	margin-top: 10px;	
	padding: 7px 0 7px 10px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, .9);
	background-color: rgba(255, 255, 255, .5);
	box-shadow: inset 0px 3px 2px 0px rgba(81, 72, 79, .3),
				inset 4px 8px 2px -1px rgba(81, 72, 79, .1);
}


.btn-search{
	color: #ffffff;
	border: 1px solid rgba(255, 255, 255, .9);
	background-color: rgba(255, 255, 255, .4);
	box-shadow: 0px 2px 2px 1px rgba(81, 72, 79, .3);
	font-size: 17px;
	border-radius: 10px;
	padding: 5px 10px;
}


/*---------------mobile menu------------------------*/

.mmenu{
	margin-top: 15px;
}

.dropdown-menu{
	padding-left: 10px;
	min-width: 250px;
	max-width: 300px;
	background-color: rgba(81, 72, 79, .3);
	border: 1px solid rgba(81, 72, 79, .7);
	box-shadow: inset 0px 6px 32px 4px rgba(81, 72, 79, .3);
}

#mobmenu{
	padding: 5px 7px;
	border: 1px solid transparent;
	border-radius: 10px;
}

#mobmenu:visited{
	color: #ffffff;
	text-decoration: none;
}

#mobmenu:hover,
#mobmenu:focus{
	color: #ffffff;
	text-decoration: none;
	border: 1px solid #ffffff;
	background-color: rgba(225, 225, 225, .6);
}

#mobmenu:active{
	color: #ffffff;
	text-decoration: none;
}

/*---------------main-menu----------------*/
.main-menu{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.main-menu>li>a{
	font-size: 16px;
}

.main-menu>li>a:link{
	padding: 5px 6px;
	border: 1px solid transparent;
	border-radius: 10px;
}

.main-menu>li>a:visited{
	color: #ffffff;
	text-decoration: none;
}

.main-menu>li>a:hover{
	color: #ffffff;
	text-decoration: none;
	border: 1px solid #ffffff;
	background-color: rgba(225, 225, 225, .6);
}

.main-menu>li>a:active{
	color: #ffffff;
	text-decoration: none;
}



@media all and (max-width: 768px){
	.search-query{
		margin: 10px 0 0;
	}
}

@media all and (min-width: 769px) and (max-width: 992px){
	.search-query{
		margin: 10px 10px 0 0;
	}
}

@media all and (min-width: 993px) and (max-width: 1200px){

	.search-query{
		margin: 10px 10px 0 22px;
	}
}

@media all and (min-width: 1201px){

	.search-query{
		margin: 10px 10px 0 30px;
	}

	.main-menu{
		margin-left: 28px;
	}

}
