
.first-page{
	min-height: 730px;
	background-image: url(images/field_foolpage.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

header{
	padding: 10px 0;
	background-color: rgba(81, 72, 79, .2);
	box-shadow: 0px 6px 32px 4px rgba(81, 72, 79, .6);
}


.lang{
	box-sizing: border-box;
}

header a{
	color: #ffffff;
	display: inline-block;
	text-decoration: none;
}

ul{
	margin: 0;
	padding: 0;
}

.lang{
	padding: 5px 0;
}

.lang li{
	color: white;
	font-size: 21px;
	padding: 0;
}

.logo > a:link{
	height: 100%;
}

.lang a:link{
	border: 1px solid transparent;
	font-size: 21px;
	padding: 7px 5px 7px 5px;
	border-radius: 10px;
	margin: 0 3px;
}

.menu a:link{
	padding: 5px 7px;
	border: 1px solid transparent;
	border-radius: 10px;
}


.lang a:visited,
.menu a:visited{
	color: #ffffff;
	text-decoration: none;
}

.lang a:hover,
.menu a:hover{
	color: #ffffff;
	text-decoration: none;
	border: 1px solid #ffffff;
	background-color: rgba(225, 225, 225, .6);
}

.lang a:active,
.menu a:active{
	color: #ffffff;
	text-decoration: none;
}


.center h1{
	font-size: 48px;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	color: #ffffff;
	padding: 140px 0 240px; 
	text-shadow: 4px 1px 15px #979296,
				 2px 1px 1px #979296;
	text-transform: uppercase;

}

.menu nav > li{
	line-height: 25px;
	font-size: 17px;
	padding: 0;
}

.menu nav{
	padding: 0 0 0 30px;
}



.search-query{
	width: 80%;
	font-style: italic;
	margin-top: 10px;	
	padding: 7px 0 7px 10px;
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, .9);
	background-color: rgba(255, 255, 255, .5);
}

.form-search > button{	
	padding: 5px 10px;
}

.logo img{

	margin-top: 20px;

}

/*---------servires----------------*/

.services,
.log-in{
	border-radius: 10px;
	background-color: rgba(81, 72, 79, .6);
}

.services{
	padding: 15px 0 15px 18px;
}


.button-serv,
.btn-search,
.log-in > a{
	color: #ffffff;
	border: 1px solid rgba(255, 255, 255, .9);
	font-size: 17px;
	border-radius: 10px;
}

.button-serv{
	background-color: rgba(255, 255, 255, .1);
	padding: 7px 5px 7px 5px;
}

.btn-search{
	background-color: rgba(255, 255, 255, .2);
}

.btn-search:visited,
.button-serv:visited{
	color: #ffffff; 
	text-decoration: none;
}

.btn-search:hover,
.button-serv:hover,
.btn-search:active,
.button-serv:active{
	color: #ffffff; 
	text-decoration: none;
}

.button-serv:hover{
	background-color: rgba(255, 255, 255, .5);
}

.serv-info{
	border-radius: 10px;
	border: 1px solid rgb(81, 72, 79);
	background-color: rgba(81, 72, 79, .6);
}

.serv-info>li>a{
	color: #ffffff;
	border: 1px solid transparent;
}

.serv-info>li>a:hover{
	color: #ffffff;
	background: rgba(255, 255, 255, .3); 
	border: 1px solid #ffffff;
	border-radius: 10px;
}
/*--------------log-in-------------*/
.log-in{
	padding: 11px 0 9px 28px;
}

.log-in > a{
	padding: 10px;
	margin: 0 auto;
}

.fa-sign-in{
	font-size: 35px;
	vertical-align: middle;
}

.mmenu{
	margin-top: 15px;
}

.dropdown-menu{
	min-width: 200px;
	max-width: 300px;
	background-color: cyan;
}

@media all and (max-width: 768px){

}

@media all and (min-width: 769px) and (max-width: 992px){

}

@media all and (min-width: 993px) and (max-width: 1200px){

}

@media all and (min-width: 1201px){

}
