body{
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 18px;
	background-color: #22232d;
}

@font-face{
	font-family: Arkhip;
	src: url(fonts/Arkhip_font.otf);
}

@font-face{
	font-family: Arkhip;
	src: url(fonts/Arkhip_font.ttf);
}

*{
	box-sizing: border-box;
}

header,
.main,
footer{
	width: 100%;
}

header,
footer{
	position: fixed;
}

header{
	top: 0;
}

footer{
	bottom: 0;
}

.wrapper{
	width: 1199px;
}

header{
	 background-color: #ffffff;
	 box-shadow: 0 2px 39px -6px #000000;
	 padding: 24px 0 23px;
}

header a{
	color: #ab002c;
	text-decoration: none;
	font-family: Arkhip;
	font-size: 24px;
}

footer{
	background-color: #4b4b4b;
	color: #ffffff;
	font-size: 12px;
}

.photo{
	width: 220px;
	height: 220px;
	border-radius: 50%;
	background-image: url(images/albert.png);
	background-repeat: no-repeat;
	background-position: -12px 0;
	margin: 20px;
}

.info{
	width: 470px;
	font-weight: 100;	
	color: #ffffff;
	margin: 0 20px;
}

h2{
	color: #7d8383;
	font-size: 36px;
	font-weight: 100;
}

p{font-weight: 100;}


.wrapper{
	display: flex;
	margin: auto;
}

article > .wrapper{
	justify-content: center;
	margin: 255px auto;
}


