@font-face{
	font-family: Nexa;
	src: url('fonts/nexa_light-webfont.eot');
	src: url('fonts/nexa_light-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/nexa_light-webfont.woff') format('woff'),
	     url('fonts/nexa_light-webfont.ttf') format('truetype'),
	     url('fonts/nexa_light-webfont.svg') format('svg');
	     font-weight: lighter;
	     font-style: normal;
}

@font-face{ 
	font-family: Nexa;
	src: url('fonts/nexa_bold-webfont.eot');
	src: url('fonts/nexa_bold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('fonts/nexa_bold-webfont.woff') format('woff'),
	     url('fonts/nexa_bold-webfont.ttf') format('truetype'),
	     url('fonts/nexa_bold-webfont.svg') format('svg');
	     font-weight: bold;
	     font-style: normal;
}

@font-face{
	font-family: Arial;
	src: url(fonts/Arial-Regular.ttf);
}

body{
	font-family: Nexa, sans-serif;
	font-weight: lighter;
	font-size: 12px;
	color: #ffffff;
	background-image: url(images/background.jpg);
}



*{
	box-sizing: border-box;
}

.flex{
	display: flex;
}

.wrapper{
	width: 940px;
	height: 100%;
	margin: auto;
}
/*---------------header-----------------------*/
.top,
.navigation,
.location{
	height: 70px;
}


.top{
	background-color: #373737;
}



.navigation{
	width: 100%;
	background: linear-gradient(to right, #ebebeb 50%, #474747 50%);
}
.navigation > .wrapper{
	background-color: #474747;

}

/*----------top--------------*/

.top > .wrapper{
	justify-content: space-between;
}

.literal{
	width: 80px;
	font-size: 36px;
	font-family: Nexa;
	font-weight: bold;
	color: #ffffff;
	background-color: #f26c4f;
	position: relative;
}

.literal > span{
	margin: 0 auto;

}

.literal::after{
	content:  ' ';
	display: block;
	border: 12px solid transparent;
	border-left: 12px solid #f26c4f;
	position: absolute;
	top: 20px;

}

.top .logo > span{
	align-self: center;
	padding-left: 22px;
	font-size: 18px;
}


.info_select{
	width: 345px;
	justify-content: space-between;
}

.info_select > div{
	font-size: 12px;
	color: #959595;
	background-color: #ffffff;
	align-items: center;
	padding-left: 15px;
	box-shadow: 2px 2px 2px 2px #2c2c2c;
}



.info_select > div:first-child{
	width: 180px;
	height: 36px;
	align-self: center;
}

.info_select > div:first-child > span{
	padding-right: 45px;
}

.info_select > div:nth-child(2){
	width: 145px;
	height: 36px;
	align-self: center;
}

.info_select > div:nth-child(2) > span{
	padding-right: 21px;
}

.top .button {
	height: 36px;
	width: 36px;
	background-color: #ebebeb;
	border-left: 1px solid #d8d8d8;
	position: relative;
}

/*------------nav-------------------*/
.navigation > .wrapper{
	justify-content: space-between;
	align-items: center;
}

.navigation a {
	
	color: #ffffff;
	text-decoration: none;
}

 ul{
    -webkit-padding-start: 0;
    margin: 0;
}


nav{
	width: 505px;
	height: 100%;
}

nav > ul{
	height: 100%;
	width: 100%;
	justify-content: space-around;
}

nav li{
	list-style: none;
	position: relative;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}

.navigation li > a{
	padding: 50% 0;
}

.navigation li:nth-child(n+2):nth-child(-n+5)::after{
	content: ' ';
	display: block;
	height: 11px;
	width: 1px;
	background-color: #767676;
	position: absolute;
	top: 29px;
	right: -22px;
}

.navigation li:hover{
	border-bottom: 4px solid #f26c4f;
}

/*--------------minimal_nav---------------*/

 .minimal_nav{
 	width: 320px;
 	height: 100%;
 	justify-content: space-between;

 }

.minimal_nav div:first-child{
	width: 110px;
	height: 25px;
	border-right: 1px solid #767676;
	align-items: center;
	justify-content: center;
	align-self: center;
}

.minimal_nav > div:nth-child(2){
	width: 180px;
	height: 36px;
	justify-content: space-between;
	align-self: center;
	align-items: center;
}
.minimal_nav .button{
	height: 36px;
	width: 36px;
	position: relative;
}

.minimal_nav > div:nth-child(2) > span{

	padding-right: 18px;
}

/*--------------location---------------*/
.location {
	color: #8f8f8f;
}

.location > .wrapper{
	justify-content: space-between;

}

.search{
	width: 450px;
	height: 70px;
	justify-content: space-between;
	align-items: center;
}

.search > div:nth-child(1),
.search > div:nth-child(2){
	height: 46px;
	background-color: #ffffff;
	align-items: center;
	box-shadow: 0 1px 2px 1px #dedede;
}

.search > div:nth-child(1){
	width: 300px;
	padding: 0 15px 0 20px;
	justify-content: space-between;
	
}

.search > div:nth-child(2){
	width: 140px;
	padding-left: 15px;
}

.location .button {
	height: 46px;
	width: 43px;
	color: #ffffff;
	background-color: #8f8f8f;
	position: relative;
}

.search > div:nth-child(2) span{
	padding-right: 30px;
}
/*--------------social------------------*/

.social > ul{
	width: 300px;
	height: 70px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}

.social li{
	list-style: none;

}

.social li > a{
	color: #8f8f8f;
	font-weight: normal;
	text-decoration: none;
}

/*------icons for header-------*/

.info_select .fa-map-marker,
.info_select .fa-clock-o,
.minimal_nav .fa-map-marker,
nav .fa-map-marker,
.location .fa-map-marker{
	font-size: 22px;
}

.location .fa-clock-o{
	font-size: 32px;
}

.info_select .fa-map-marker,
.info_select .fa-clock-o,
.minimal_nav .fa-map-marker,
nav .fa-map-marker,
.location .fa-clock-o{
	color: #f26c4f;

}


.top .button > .fa-chevron-left,
.minimal_nav .button > .fa-chevron-left,
.top .button > .fa-chevron-right,
.minimal_nav .button > .fa-chevron-right,
 .location .button > .fa-chevron-left,
 .location .button > .fa-chevron-right{
 	font-size: 9px;
}


.top .button > .fa-chevron-left,
.minimal_nav .button > .fa-chevron-left{
	position: absolute;
	top: 9px;
	left: 14px;
}


.top .button > .fa-chevron-right,
.minimal_nav .button > .fa-chevron-right{
	position: absolute;
	bottom: 9px;
	left: 14px;
}



 .location .button > .fa-chevron-left{
 	
 	position: absolute;
	top: 13px;
	left: 19px;
}


 .location .button > .fa-chevron-right{
 	position: absolute;
	bottom: 13px;
	left: 19px;
}
/*--------bunner------*/

.bridge{
	width: 640px;
	height: 390px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url(images/bridge.jpg);
	background-repeat: no-repeat;
	border-right: 10px solid #f26c4f;
}

.bridge:after{
	content: ' ';
	position: absolute;
	left: 640px;
	top: 20px;
	border: 12px solid transparent;
	border-left: 12px solid #f26c4f;
}


.caption{
	width: 371px;
	height: 62px;
	padding-left: 30px;
	font-family:'Nexa';
	font-weight: lighter;
	font-size: 16px;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 0.5);
	align-self: flex-end;
	display: flex;
	align-items: center;
}

.info{
	width: 300px;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.4);
	background-color: #373737;
	box-sizing: border-box;
	padding: 0 35px 1px;
	flex-direction: column;
}

.info h2{
	font-family:'Nexa';
	font-weight: 100;
	font-size: 19px;
	color: rgba(255, 255, 255, 1);
}

time{
	text-align: right;
}
.date{
	margin-top: 20px;
	justify-content: space-between;
	padding-bottom: 120px;
}

.controls{
	align-self: flex-end;
	margin-right: -34px;
}

.controls a{
	display: inline-block;
	height: 100%;
	background-color: rgba(83, 83, 83, 1);
}

.controls a:first-child{
	margin-right: -4px;
}

.controls a:hover{
	background-color: rgba(83, 83, 83, 0.7);
}


/*--------------icons for main-------------------*/
.main .fa-clock-o,
.main .fa-plus{
	font-size: 18px;
	font-weight: 100px;
}

.main .fa-plus,
.main .fa-chevron-left,
.main .fa-chevron-right{
	color: rgba(255, 255, 255, 1);
}

.main .fa-chevron-left,
.main .fa-chevron-right{
	font-size: 15px;
	padding: 9px;
}
